/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  
  body {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
  }
  
  /* Login styles */
  
  .login-container {
    background-image: url('./images/bg.png'), url('./images/wave.png');
    background-repeat: no-repeat;
    background-size: 500px 400px, contain;
    background-position: 20% 40%, left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-title {
    margin-right: 40%;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #555;
  }
  
  .login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 1.2rem;
    color: #555;
  }
  
  .login-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0062cc;
  }
  